# Gradle cache
.gradle

# Build artefacts
bin
build
out

# OS files
.DS_Store
$RECYCLE.BIN
[Dd]esktop.ini
Thumbs.db
*.lnk

# IntelliJ IDEA project files
*.iml
*.iws
*.ipr
.idea

# Eclipse project file
.settings
.classpath
.project

# VS Code project files
.vscode

# Paw project files
*.paw
